.blogpage .main .topp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    position: relative;
}

.blogpage .main .topp .filter {
    color: #464a5fd3;
}

.blogpage .main .topp .filter .topic {
    display: flex;
    gap: 0.3rem;
    cursor: pointer;
}

.blogpage .main .topp .filter .icon {
    margin-top: 0.15rem;
}

.blogpage .main .topp .filter .arrow {
    margin-top: 0.2rem;
}

.blogpage .main .topp .filter .dropdown {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(52, 53, 65, 0.452);
}

.blogpage .main .topp .filter:hover .dropdown {
    display: block;
}

.blogpage .main .topp .filter .dropdown li {
    padding: 0.2rem 0.8rem;
    cursor: pointer;
}

.blogpage .main .topp .filter .dropdown li:hover {
    color: #7388ec;
}

.blogpage .main .topp .search {
    position: relative;
}

.blogpage .main .topp .search input{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1.5rem;
    color: #7388ec;
    background-color: rgba(132, 139, 200, 0.18);
    border-radius: 1rem;
    width: 150px;
}

.blogpage .main .topp .search img {
    position: absolute;
    width: 17px;
    height: 17px;
    right: 10px;
    top: 6px;
}

.blogpage .main .topp .notification .topic {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #464a5fd3;
    cursor: pointer;
}

.blogpage .main .topp .notification .texts {
    padding-bottom: 0.3rem;
}

.blogpage .main .topp .notification {
    position: relative;
}

.blogpage .main .topp .notification p {
    position: absolute;
    top: 3px;
    left: 8px;
    font-size: 10px;
    color: #0057fa;
}